[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
"backports.zoneinfo" = "==0.2.1"
beautifulsoup4 = "==4.12.2"
cssselect = "==1.2.0"
django = "*"
django-bootstrap-v5 = "==1.0.11"
django-quill-editor = "==0.1.40"
gunicorn = "==21.2.0"
lxml = "==4.9.3"
markdown2 = "==2.4.10"
packaging = "==23.1"
pillow = "*"
pyquery = "==2.0.0"
readtime = "==3.0.0"
soupsieve = "==2.4.1"
sqlparse = "==0.4.4"
typing-extensions = "==4.7.1"

[dev-packages]

[requires]
python_version = "3.11"
