<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">

    <title>Mokhele Katleho</title>
</head>

<nav class="navbar navbar-expand-lg fixed-top" style="background-color:#00000C;">
    <div class="container-fluid" style="width: 90%;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor " class="bi bi-list text-warning" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
      </button>
      <a class="navbar-brand" href="{% url 'main_app:homePage' %}">
        <img height="50" src="{% static 'images/mokheleme-logos__transparent.png' %}" alt="logo">
    </a>

    
        <div class="d-none d-lg-block ">  
            <div style="padding-left: 180px;" > 
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="#about">About </a> 
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="#skills">Skills</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="#project">Projects</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="#blog">Blog</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
      </div>

      <div class="d-flex justify-content-center  navbar-collapse" >
        <div id="navbarTogglerDemo03" class="collapse ">  
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#about">About </a> 
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#project">Projects</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#contact">Contact</a>
            </li>

            
            </ul>
        </div>
      </div>
      
    </div>
  </nav>

{% block content %}
    <body>

        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/Headroom.js' %}"></script>
        <script src="{% static 'js/jQuery.headroom.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/smoothscroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
      
    </body>
{% endblock content %}

</html>





<!--    
<nav class="navbar navbar-expand-sm navbar-light" >
    <div class="container">
        <a class="navbar-brand" href="{% url 'main_app:homePage' %}">
            <img height="80" src="{% static 'images/mokheleme-logos__transparent.png' %}" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            toggle
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a style=" color: white;" href="#about" class="nav-link"><span data-hover="About">About</span></a>
                </li>
                <li class="nav-item">
                  <a style=" color: white;" href="#resume" class="nav-link"><span data-hover="Skills">Skills</span></a>
              </li>
                <li class="nav-item">
                    <a style=" color: white;" href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                </li>
                <li class="nav-item">
                  <a style=" color: white;" href="#blog" class="nav-link"><span data-hover="Blog">Blog</span></a>
              </li>
              
                <li class="nav-item">
                    <a style=" color: white;" href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>
-->