@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  padding-top: 70px;
  background-color: #233d41;
  font-weight: 500;
}

.text-warning{
  color: #ffdc6a !important;
  margin-right: 5px;
}

section{
  background-color: #233d41;
}
@font-face {
  font-family: "Titles";
  src: url("fonts/Gemsbuck01Black-axn2g.ttf");
}
#about{
  min-height: 100vh;
  padding-bottom: 1rem;
}
#hero_name{
  font-family: "Titles";
  margin:0cm
}

.about-tags{
  background-color: #2c5c4c;
  padding: 7px 8px;color: #d4d4d4;
  position: absolute;
  border: 1px #ebc95c solid;
  box-shadow: 5px 3px 0 #dbe7de;
}

#tag1{
  left: 0;
  top: 20%;
  transform: rotate(-10deg);
}
#tag2{
  right: 0;
  top: 20%;
  transform: rotate(10deg);
}
#tag3{
  right: 0;
  top: 90%;
  transform: rotate(-6deg);
}
#tag4{
  left: 0%;
  top: 90%;
  transform: rotate(6deg);
}




#sections{
  font-family: "Titles";
  font-size: 2.5rem;
  letter-spacing: 7px;
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-image {
 width: 200px; 
 animation: floating 2s ease-in-out infinite; 
 transition: transform 0.3s ease-in-out; 
}
.hero-image:hover {
  transform: rotate(5deg); 
}

.expand_btn:hover{
  color:#ffec42!important;
  width:155px !important;
  height: 40px !important;
}

#less-description{
  display: block;
}
#more-description{
  display: none;
}


.full-screen {
  padding: 10rem 0 !important;
}


ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #ffd754ef !important;
}
.article-link h3:hover{
  color: #ffec42 !important;  
  text-decoration: underline ;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #ffffff;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #ffffff;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #ffffff;
}
p{
  color: #e8e8e8 ;
}


h3,
b, strong {
  font-weight: bold;
}


.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}


.timeline-wrapper {
  position: relative;
  
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #fff176c7 ;
  width: 1.4px;
  height: 100%;
  position: absolute;
  left: 23px;
}

.timeline-yr {
  background: #060605;
  border: 1px solid #ffec42c5 ;
  border-radius: 100%;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 42px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 4em;
}
.timeline-info small {
  color: #eeeeee;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4em;
}

.contact-form {
  position: relative;
  background-color: #04003620 !important;
  border: #ffec42 1px solid !important;
  border-radius: 10px;
}
.contact-form .form-control {
  background: #0700680e;
  border-radius: 8px;
  outline: none;
  box-shadow: none;

  margin: 16px 0;
  border-color: #ffdd0039;
  color:rgb(197, 197, 197);
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #fff177;
 
}
.contact-form .submit-btn {
  background: #ffef60 ;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #e7e7e8 !important;
}

.contact-info {
  background: #f63e00;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}



/*  ###################################################### Media Queries ################################################# */



@media screen  and (max-width: 520px) {
  #about-container{
    width:100% !important ;
  }
  .about-card{
    padding: 0.8rem !important;
    font-size: 1rem !important;
  
}


@media (max-width: 320px) {
  .about-card{
    padding: 0.5rem !important;
  }
  #hero_name{
    font-size: 1.7rem !important;
   
  }
  #hero_intro{
    font-size: 1.2rem !important;
  }
  #hero_slogan{
    font-size: 0.88rem !important;
  }
  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }


}

@media (min-width: 321px) {
  #hero_name{
    font-size: 1.5rem !important;
  
  }
  #hero_intro{
    font-size: 1rem !important;
  }
  #hero_slogan{
    font-size: 0.7rem !important;
  }
  .full-screen {
    padding: 7rem 0 !important;
  }

  .custom-btn {
    display: block;
    margin: 3px 0;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
  #scroller{
    padding-top:50px;
  }
}

@media (min-width: 400px) {

  #hero_name{
    font-size: 2.5rem !important;

  }
  #hero_intro{
    font-size: 1.52rem !important;
  }
  #hero_slogan{
    font-size: 0.92rem !important;
  }
  .full-screen {
    padding: 6rem 0;
  
}
#scroller{
  padding-top:50px;
}

}

@media (min-width: 580px) {

  #hero_name{
    font-size: 2.9rem !important;

  }
  #hero_intro{
    font-size: 1.7rem !important;
  }
  #hero_slogan{
    font-size: 1rem !important;
  }
  .full-screen {
    padding: 6.5rem 0;
  }
  #scroller{
    padding-top:50px;
  }

}

@media (min-width: 767px) {
  
  #hero_name{
    font-size: 3rem !important;
  
  }
  #hero_intro{
    font-size: 1.8rem !important;
  }
  #hero_slogan{
    font-size: 1rem !important;
  }
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }
  #scroller{
    padding-top:10px;
  }

}

@media (min-width: 991px) {
  #hero_name{
    font-size: 4rem !important;
 
  }
  #hero_intro{
    font-size: 2.3rem !important;
  }
  #hero_slogan{
    font-size: 1rem !important;
  }
 
  .color-mode {
    display: none;
  }

  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
  #scroller{
    padding-top: 0cm;
    
  }
}



/* ####################################################### PROJECT  ############################################################*/



#project-tags{
  border: none;
  padding: 0.25rem 0.6rem;
  border-radius: 4px;
  color:rgb(174, 174, 174);
  font-size: 0.75rem;
  background:none;
  background-color: #22494b48;

  margin-right: 5px !important;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px){
  .about-tags{
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .img-wrapper img{
    width:100%;
    height: auto !important;
  }
  .project-container{
    width:100%
  }
}

@media screen and (min-width: 900px) {
  .img-wrapper img{
    width: 100% ;
    height:350px;
  }
  .project-container{
    width: 50% !important ;
  }
}

@media screen and (min-width: 551px) {
  .img-wrapper img{
    width:100%;
    height: auto !important;
  }
  .project-container{
    width:85% !important;
  }
}


@media screen and (min-width: 767px) {
  .img-wrapper img{
    width: 100% ;
    height:250px !important;
  }
  .project-container{
    width:100% !important;
  }
}



@media screen and (max-width: 550px) {

  #project-tags{

    margin-right: 1px !important;
    margin-bottom: 2px;
    border-radius: 2px;
  }

}



/* ########################################################## Blog ##########################################*/

@media (max-width: 600px) {
  
  .blog-img img{
    width: 65px;
    height: 65px;
    top:50;
    bottom:50;
  }
  
  .blog-subtitle{
    display: none;
  }
  
  .blog-title{
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .tag-name{
    font-size: 0.76rem !important;
  }
  }
  
  @media (min-width: 601px) {
  
  .blog-img img{
    width: 160px !important;
    height: 120px !important;
    top:50;
    bottom:50;
  }
  
  .blog-subtitle{
    display: block;
  }
  

  .tag-name{
    font-size: 0.76rem !important;
  }
  

  }
  
  @media (min-width: 900px) {
  
    .blog-container{
      width:90%
    }
  }
  



@media (max-width: 400px) {

.about-illustration{
display: none;
}
#about-text{
font-size: 1rem !important;
}

}


@media screen and (max-width: 550px) {
.img-wrapper img{
width:100%;
height: auto !important;
}
.project-container{
width:100%
}
#about-text{
font-size: 1rem !important;
}

}

@media screen and (min-width: 551px) {
.img-wrapper img{
width:100%;
height: auto !important;
}
.project-container{
width:85% !important;
}
}


@media screen and (min-width: 767px) {
.img-wrapper img{
width: 100% ;
height:250px !important;
}
.project-container{
width:100% !important;
}
}




@media screen and (min-width: 900px) {
.img-wrapper img{
width: 100% ;
height:340px !important;
}
.project-container{
width: 85% !important ;
}


}

.cycle{
  color:#ffb43c;
  color:#ff8de8;
  color:#9eaeff;

  color:#dc97ff;
  color:#94ffb4;
  color:#b0f5ff;
  color:#ffa8ad;

}



