{% extends 'main_app/base.html' %}
{% load static %}

{% load read-time %}

{% block content %}
 
<section class="py-5" id="blog" >
  <div class="container">
    <h2 id="sections" style="margin-left: 5px;color: white;margin-top: 0cm;margin-bottom: 0cm;">My Blog </h2>
    <div style="width:100px;overflow:hidden">
      <hr style="color: #ffec42;border: 2px #ffec42 solid ; opacity: 1;margin:5px ">

    </div>


    <p style="margin-left: 5px;color:rgb(215, 215, 215);margin-top: 0cm;margin-bottom: 3px;font-size:1.1rem;"> Some
      articles from my tech blog </p>

  </div>

  <br><br>


  <div class="container-fluid blog-container">
    <div class="row d-flex justify-content-center">
      {% for article in articles %}
      <div class=" col-12 col-md-10 col-lg-9">
        {% if forloop.counter == 1 %}
        <div class="d-flex"
          style="border-top:1px  solid rgba(200, 200, 200, 0.126);border-bottom:1px  solid rgba(200, 200, 200, 0.126);">
          {% else %}
          <div class="d-flex" style="border-bottom:1px  solid rgba(200, 200, 200, 0.126);">
            {% endif %}

            <div class="blog-img" style="margin: 20px;">
              <img height="150" src="{{article.thumbnail.url}}" alt="">
            </div>
            <div class="">
              <a href="{% url 'blog_app:article' article.slug %}" class="article-link">
                <h3 class="blog-title" style="margin-left: 2px;margin-top:10px;color:white">{{article.title}}</h3>
              </a>
              <p style="margin-left: 2px;margin-right: 20px;margin-bottom: 8px;color:rgb(225, 225, 225); font-size: 1.1rem;"
                class="blog-subtitle">
                {{article.subtitle|truncatechars:160}}
              </p>


                <div class="d-flex">
                  {% for tag in article.tags.all %}
                  <div >
                    <div  style="background-color: #8b8b8b53 ; border-radius: 8px;">
                      <p class="d-flex justify-content-center" style="padding:5px 8px;font-size: 0.85rem;color: {% cycle '#ffb43c' '#ff8de8' '#9eaeff' '#dc97ff' '#94ffb4' '#b0f5ff' '#ffa8ad' %};">{{tag.name}}</p> 
                    </div>
                  </div> &nbsp;&nbsp;
                {% endfor %}
              </div>

              <div class="row">
                <div class="col">
                  <p style="font-size: 0.7rem;color:rgb(206, 206, 206);margin-left: 2px;margin-top: 3px;">
                    {{article.date_posted|date:" d M Y"}} <span style="font-weight:700;font-size:larger"> &centerdot;
                    </span> {{article.body.html|readtime}}</p>
                </div>
              </div>

            </div>
          </div>

        </div>
        {% endfor %}
      </div>


    

    </div>
  </div>




</section>

<footer style="height: 6rem; bottom: 0; position: fixed; width: 100%; margin-top: 2rem; ">
  <div style="width:93%" class="container-fluid">
      <div class="d-flex justify-content-end">
          <a style="color: #292929 !important;" href="{% url 'main_app:homePage' %}">
            <button style="height: 60px;width: 60px;background-color: #fff175;box-shadow: 0 2px 6px rgb(28, 40, 37);" class="btn rounded-circle" >
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
              </svg>
            </button>
          </a>
      </div>
  </div>
</footer>


{% endblock content %}