{% extends 'main_app/base.html'  %}
{% load static %}

{% load read-time %}

{% block content %}
<section class="py-5" id="blog" style="background-color: #12121a;border-top: 1px solid #ffc200;">
  <h2 id="sections" style="margin-left: 5px;color: white;margin-top: 0cm;margin-bottom: 0cm;">My Blog </h2>
        <div style="width:100px;overflow:hidden">
          <hr style="color: rgb(235, 255, 13 ) ;border: 2px rgb(235, 255, 13 ) solid ; opacity: 1;margin:5px ">
       
        </div>
        
          <p style="margin-left: 5px;color:rgb(215, 215, 215);margin-top: 0cm;margin-bottom: 3px;font-size:1.1rem;">Featured articles from my blog </p>
  
  <br><br>




  <div class="container-fluid blog-container"  >
    <div class="row d-flex justify-content-center">
      {% for article in articles %}
      <div class=" col-12 col-lg-10">
       {% if forloop.counter == 1 %}
       <div class="d-flex" style="border-top:1px  solid rgb(200, 200, 200);border-bottom:1px  solid rgb(200, 200, 200);"> 
        {% else %}
        <div class="d-flex" style="border-bottom:1px  solid rgb(200, 200, 200);">  
        {% endif %}
       
          <div class="blog-img" style="margin: 20px;">
            <img height="150" src="{{article.thumbnail.url}}" alt="">
          </div>
          <div class="">
           <a href="{% url 'blog_app:article' article.slug %}" class="article-link">  <h3 class="blog-title" style="margin-left: 2px;margin-top:10px;color:white">{{article.title}}</h3> </a>
            <p style="margin-left: 2px;margin-right: 20px;margin-bottom: 8px;color:rgb(225, 225, 225); font-size: 1.1rem;" class="blog-subtitle">
              {{article.subtitle|truncatechars:160}}
            </p>

            <div class="row ">
              {% for tag in article.tags.all %}
       
                <div class="d-flex" style="width: 85px;height: 25px;">    
                  <div class="rounded-pill" style="margin-left: 5px;background-color: #17172284;width:100%; ">
                    <p class="d-flex justify-content-center tag-name" style="padding:2px 0px 2px 0px;font-size: 0.85rem;color: {% cycle 'orange' '#FB04C9' '#7C8EE8' '#E6E116' '#C653FF'  '#00D43F' '#009FB8' '#E6E116' %};">{{tag.name}}</p> 
                  </div> &nbsp;
              </div>
              
             {% endfor %}
            </div>

            <div class="row">
              <div class="col"> 
                <p style="font-size: 0.7rem;color:rgb(206, 206, 206);margin-left: 2px;margin-top: 3px;"> {{article.date_posted|date:" d M Y"}} <span style="font-weight:700;font-size:larger">  &centerdot; </span> {{article.body.html|readtime}}</p> 
              </div>
            </div>

          </div>
        </div>

      </div>
      {% endfor %}
  </div>



</div>   
</div>






    <div class="container col-12"> 
        <br>
        <div class="pagination d-flex justify-content-center">
            <span class="step-links">
    
                {% if articles.has_previous %}
                  
                    <a style="text-decoration: none;" class="position-relative " href="?page={{ articles.previous_page_number }}"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg> previous
                        </a>
    
                {% else %}    
                    <a href="#" class="position-relative " style="color: gray;text-decoration: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg> previous</a>
                {% endif %}
    
                <span class="position-relative " style="font-weight: 600; margin-left: 0.8cm; margin-right: 0.8cm;">
                     {{ articles.number }} of {{ articles.paginator.num_pages }} 
                </span>    
    
                {% if articles.has_next %}
                    <a style="text-decoration: none;"class="position-relative " href="?page={{ articles.next_page_number }}">
                        next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg></a>
    
                {% else %}    
                <a style="color: gray;text-decoration: none;" class="position-relative " href="#">
                    next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></a>
    
                {% endif %}
    
            </span>
        </div>
    </div>

  </div>









  </section>
{% endblock content %}